<form [formGroup]="basicForm" (ngSubmit)="onSubmit()">
  <p>Please add user details.</p>
  <hr />
  <div class="card">
  <div class="card-body">
  <label for="Name"><b>Name</b></label>
  <!-- <input
    type="text"
    placeholder="Enter name"
    name="name"
    formControlName="name"
    required
  /> -->
  <input type="text" id="username" formControlName="name" [ngClass]="{'form-submitted': formSubmitted}" placeholder="Username"/>
  <label for="Email"><b>Email</b></label>
  <input
    type="text"
    placeholder="Enter email"
    name="email"
    formControlName="email"
    required
  />

  <label for="Gender"><b>Gender</b></label>
  <input
    type="text"
    placeholder="Enter gender"
    name="gender"
    formControlName="gender"
    required
  />
  <hr />

  <label for="pwd" ><b>Password</b></label>
  <input
    type="password"
    placeholder="Enter-Password"
    name="password"
    formControlName="password"
    required
  />
 


  <label for="Confirm" ><b>Confirm Password</b></label>
  
  <input
    type="password"
    placeholder="ConfirmPassword"
    name="confirmPassword"
    formControlName="confirmPassword"
    required
  />
  <hr />

  <!-- <div *ngIf='errorState' class="alert alert-danger" role="alert">
    <strong>Error: </strong> Company adding failed ! 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf='completeStatus' class="alert alert-success" role="alert">
    <strong>Success :</strong> Company added successfully ! 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div> -->

  <button type="submit" class="registerbtn">Add</button>
  </div>
</div>
</form>
