<form [formGroup]="basicForm" (ngSubmit)="onSubmit()">
  <hr />
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <label for="Name"><b>Name</b></label>
      <input
        type="text"
        placeholder="Enter name"
        name="name"
        formControlName="name"
        required
      />
      <label for="Email"><b>Email</b></label>
      <input
        type="text"
        placeholder="Enter email"
        name="email"
        formControlName="email"
        required
      />

      <label for="Gender"><b>Gender</b></label>
      <input
        type="text"
        placeholder="Enter gender"
        name="gender"
        formControlName="gender"
        required
      />
      <hr />

      <label for="pwd"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter-Password"
        name="password"
        formControlName="password"
        required
      />

      <label for="Confirm"><b>Confirm Password</b></label>

      <input
        type="password"
        placeholder="ConfirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
        required
      />
      <hr />
      <div class="col-md-4 offset-md-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Add User
        </button>
      </div>
    </div>
  </div>
</form>
